{% extends 'dashboard/layout.html' %}
{% import 'macros.html' as m %}

{% set active_page = url_for('.video_list') %}

{% block title %} | videos {% endblock %}


{% block page_content %}
<!-- Header -->
<div class="dashboard-header">
	<h2 class="flex-1">Videos</h2>
	<a class="btn-sm btn-green inline-flex items-center" href="{{url_for('.video_action')}}">
	{{m.icon_plus(size=4)}} <span class="ml-1">New</span>
	</a>
</div>


<div class="shadow rounded">
	<table class="dashboard-table">
		<thead>
			<th>Youtube ID</th>
			<th class="text-center">Modified</th>
			<th></th>
		</thead>
		<tbody>
			{% for v in videos %}
				<tr>
					<td>{{v.youtube_id}}</td>
					<td class="text-center">{{v.modified|pretty_date}}</td>
					<td class="text-right">
						<a class="inline-flex text-blue-500 mr-2" 
						   href="{{url_for('.video_action', uid=v.uid)}}">
							{{m.icon_edit()}}
						</a>
						<a class="inline-flex text-red-500" 
						   href="{{url_for('.video_delete', uid=v.uid)}}">
							{{m.icon_trash()}}
						</a>
					</td>
				</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
