{% extends 'dashboard/layout.html' %}
{% import 'macros.html' as m %}

{% set active_page = url_for('.subject_list') %}

{% block title %} | Courses {% endblock %}


{% block page_content %}
<!-- Header -->
<div class="dashboard-header">
<h2 class="flex-1">Courses</h2>
<a class="btn-sm btn-green inline-flex items-center" href="{{url_for('.subject_action')}}">
<svg class="h-4 w-4"  viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
	<span>New</span>
</a>
</div>

<!-- table -->
<table class="dashboard-table">
	<thead>
		<th class="text-left">Name</th>
		<th>Modified</th>
		<th></th>
	</thead>
	{% for s in subjects %}
	<tr>
		<td><a href="{{url_for('.subject_action', uid=s.uid)}}" class="font-bold">{{s.title}}</a></td>
		<td class="text-center">{{s.modified|pretty_date}}</td>
		<td class="text-right">
			<a href="{{url_for('.subject_action', uid=s.uid)}}" class="inline-flex text-blue-500 mr-3">
				<svg class="h-5 w-5"  viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
			</a>
			<a href="{{url_for('.subject_delete', uid=s.uid)}}" class="inline-flex text-red-500">
			<svg class="h-5 w-5"  viewBox="0 0 24 24"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
