{% extends 'layout.html' %}

{% block page_content %}
<div class="container mx-auto px-6 py-8">
      <h3 class="flex flex-col border-b text-gray-700 text-4xl font-bold my-8">Gallery</h3>

      <div class="flex flex-wrap -mx-4 mb-6">
	{% for g in gallery %}
	{% if g.image %}
		<div class="w-full md:w-1/2 px-2">
			<div class="mb-2">
				<a href="{{url_for('.gallery_show', uid=g.uid)}}">
					<img class="rounded h-64" src="{{g.imgsrc}}" alt="{{g.caption}}">
				</a>
	
			</div>
		<p class="text-gray-600 font-bold text-sm">{{g.caption}}</p>
		</div>
		{% endif %}
	{% else %}
	<p class="text-xl text-gray-600">Comming soon! Our team is working on more great content for you!</p>
	{% endfor %}
      </div>
 </div>
				
{% endblock %}	

